  /* Custom Stripe Dropdown */
  nav { width: 100%;
    position: absolute;
    z-index: 100000;
  margin-top: 24px;
}
            
    nav ul { text-align: center; }         
    nav ul li { 
        display: block; 
        font-weight: 700;
        position: relative;
    }
    
    /* Main Dropdown */
    nav ul li > div.dropdown {
        left: -9999px;
        opacity: 0;
        padding: 20px 0;
        position: absolute;
        transition: opacity .3s ease-in-out;
        width: 540px;
        visibility: hidden;
        z-index: 100000;
    }
    nav ul li > div.dropdown:before {
        border-radius: 2px 0 0 0;
        content:'';
        height: 18px;
        left: calc(50% - 9px);
        position: absolute;
        top: 15px;
        transform: rotate(45deg);
        width: 18px;
    }
    nav ul li > div.dropdown:after {
        border-radius: 9999px;
        bottom: 20px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.8);
        content: '';
        filter: blur(5px);
        height: 40px;
        left: 5%;
        position: absolute;
        width: 90%;
        z-index: -1;
    }

     .mini-li:hover {
      background: #222222;
    }

    nav ul li:focus-within > div.dropdown {
        left: 50%;
        opacity: 1;
        transform: translateX(-50%);
        visibility: visible;
    }
    nav ul li > div.dropdown ul {
        background-color: rgb(26, 26, 26);
        border-radius: 10px;
        padding: 10px 0;
        text-align: left;
    }
    nav ul li > div.dropdown ul li a{
        color: currentColor;
        display: inline-block;
        padding: 20px 20px 20px 100px;
        
    }
    nav ul li > div.dropdown ul li a:visited {
      opacity: 50%;
      background: rebeccapurple;
  }
    nav ul li > div.dropdown ul li a:hover h3,
    nav ul li > div.dropdown ul li a:hover span { opacity: 0.7; }
    nav ul li > div.dropdown ul li a{
        position: relative;
    }
    nav ul li > div.dropdown ul li a:before {
        border-radius: 9999px;
        content: '';
        height: 60px;
        left: 20px;
        position: absolute;
        top: calc(50% - 30px);
        width: 60px;
    }
    nav ul li > div.dropdown ul li h3 {
        font-size: 18px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    nav ul li > div.dropdown ul li span {
        color: grey;
        font-size: 15px;
        font-weight: 400;
    }
    
    /* Mini, Bottom Dropdown Items */
    nav ul li > div.dropdown ul.mini {
        background-color: #111111;
        border-radius: 10px;
    }
    nav ul li > div.dropdown ul.mini li a {
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-left: 70px;
    }
    nav ul li > div.dropdown ul.mini li a h3 {
        margin-bottom: 0;
        margin-right: 10px;
    }
    nav ul li > div.dropdown ul.mini li a:before {
        left: 25px;
        height: 30px;
        top: calc(50% - 15px);
        width: 30px;
    }

    li a:hover:after {
      transform: scaleX(0) !important;
      transform-origin: left center;
  }
