/* Reset */

#myVideo {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


* {
    box-sizing: border-box;
    cursor: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}

a.js-page-transition {
    font-weight: bolder;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea, select, input, button { outline: none; -webkit-appearance: none; border-radius: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance:textfield; }

a {
    color: inherit;
    text-decoration: none;
}

/* Font Declaration */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;900&display=swap');


/* Responsive Image */

.responsive-image {
    display: block;
    position: relative;
    width: 100%;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    transition: padding-top 500ms ease;
    will-change: padding-top;
}

.responsive-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(1.02);
    transform-origin: bottom;
    transition: opacity 800ms ease, transform 800ms ease;
    will-change: opacity, transform;
}

.responsive-image img.did-appear {
    opacity: 1;
    transform: scale(1);
}

/* General */

:root {
    --page-padding: 20px;
    --grid-gap: 1rem;

    --mouse-x: 10px;
    --mouse-y: 10px;

    --font-size-title: 1.625rem;
    --font-size-sub: 1.25rem;
}

@media screen and (min-width: 650px) {
    :root {
        --page-padding: 50px;
        --grid-gap: 2rem;

        --font-size-title: 2.8125rem;
        --font-size-sub: 1.625rem;
    }
}

html {
    cursor: none;
    background-color: #000;
}

body {
    font-family: 'BarlowLTStd-Roman', Arial, sans-serif;
    padding: 0 var(--page-padding);
    line-height: 1.3;
    background-color: #fff;
    transition: background-color 500ms ease;
    will-change: background-color;
}

body.transition-out,
body.transition-in {
    background-color: #000;
}

.page-transition {
    content: '';
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #000;
    transition: opacity 500ms ease;
    will-change: opacity;
    pointer-events: none;
}

.page-transition svg {
    width: 140px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, 0%, 0px);
    opacity: 0;
    transition: transform 1000ms ease;
    will-change: transform;
}

.transition-out .page-transition {
    transition: opacity 200ms ease;
    will-change: opacity;
    opacity: 1;
    pointer-events: auto;
}

.transition-in .page-transition {
    opacity: 1;
}

.transition-out .page-transition svg {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0px);
}

.transition-in .page-transition svg {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0px);
}

.page-transition rect {
    y: 61;
    height: 150%;
    fill: #fff;
    transition: y 800ms ease 200ms;
    will-change: y;
}

.transition-out .page-transition rect {
    y: -100;
}

.transition-in .page-transition rect {
    y: 61;
}

.main {
    opacity: 1;
    transition: opacity 400ms ease;
    will-change: opacity;
}

.main.state--unload {
    opacity: 0;
}

@media screen and (min-width: 650px) {
    .page-transition svg {
        width: 220px;
    }
}

@media screen and (min-width: 1600px) {
    .content-wrapper,
    header {
        max-width: 80vw;
        margin: 0 auto;
    }
}

/* Cursor */

.cursor {
    mix-blend-mode: difference;
    position: fixed;
    pointer-events: none;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: transparent;
    border-radius: 50%;
    transform: translate3d(var(--mouse-x), var(--mouse-y), 0);
}

.cursor::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: width 200ms ease, height 200ms ease;
    will-change: width, height;
}

.state--cursor-hidden .cursor {
    display: none;
}

.state--hover.cursor::after {
    width: 85px;
    height: 85px;
}

.state--hidden.cursor {
    display: none;
}

/* Navigation */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: var(--page-padding) 0 0;
    transform: translate3d(0,0,0);
    opacity: 1;
    transition: transform var(--transition-timing) ease , opacity var(--transition-timing) ease ;
    will-change: opacity, transform;
    margin-top: 0 !important;
}

.transition-in .nav{
    transform: translate3d(0,50px,0);
    opacity: 0;
}

.nav__link {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav li:last-child .nav__link {
    margin-bottom: 0;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 300ms ease;
    will-change: opacity, transform;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__logo {
    display: none;
    position: absolute;
    left: 50%;
    transform-origin: left;
}

.nav__burger {
    position: relative;
    height: 34px;
}

.nav__burger-inner {
    position: absolute;
    right: 0;
    width: 250px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate3d(0px, -0.5rem, 0px);
}

.nav__burger .text-image__trigger::after {
    background-color: #fff;
}

.nav .state--open .text-image__trigger:first-child {
    padding-top: 0.3rem;
}

@media screen and (min-width: 650px) {
    .nav__logo {
        display: block;
        transform: scale(1) translate3d(-50%,0,0);
        transition: transform 300ms ease;
        will-change: transform;
    }

    .nav__logo:hover {
        transform: scale(1.1) translate3d(-50%,0,0);
    }
}

/* general project styles */

.project .will-appear {
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition-property: transform, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    will-change: opacity, transform;
}

.project .did-appear {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.project {
    padding: var(--page-padding) 0 7rem;
}

.project > div:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 650px) {
    .project {
        padding: var(--page-padding) 0 13rem;
    }
}

/* Project Detail Header */

.project__header-image {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: var(--grid-gap);
    margin-bottom: 4rem;
}

.project__header-image picture {
    grid-column-start: 1;
    grid-column-end: 17;
}

.project__header {
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: 1fr;
    margin-bottom: 7rem;
}

.project__header-info {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-auto-rows: minmax(min-content, max-content);
}

.project__header-title {
    grid-column-start: 1;
    grid-column-end: 9;
    font-size: var(--font-size-title);
    margin-bottom: 20px;
}

.project__header-subline {
    grid-column-start: 2;
    grid-column-end: 9;
    position: relative;
}

.project__header-subline::after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 1px;
    background-color: #000;
    bottom: -1rem;
}

.project__header-text {
    font-size: var(--font-size-sub);
    transition-delay: 100ms;
}

@media screen and (min-width: 650px) {
    .project__header-image {
        margin-bottom: 8rem;
    }

    .project__header-image picture {
        grid-column-start: 3;
        grid-column-end: 15;
    }

    .state--portrait.project__header-image picture {
        grid-column-start: 5;
        grid-column-end: 13;
    }

    .project__header-title {
        grid-column-start: 2;
        grid-column-end: 9;
    }
    
    .project__header-subline {
        grid-column-start: 3;
        grid-column-end: 9;
    }

    .project__header-info {
        margin-bottom: 0;
    }
    .project__header {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .project__header {
        margin-bottom: 13rem;
    }

    .state--portrait.project__header-image picture {
        grid-column-start: 6;
        grid-column-end: 12;
    }
}

/* Project Detail Text Image */

.text-image {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: var(--grid-gap);
    margin-bottom: 7rem;
}

.text-image__image {
    grid-column-start: 1;
    grid-column-end: 17;
    margin-bottom: 2rem;
}

.state--portrait .text-image__image {
    grid-column-start: 3;
    grid-column-end: 15;
}

.text-image__text {
    grid-column-start: 2;
    grid-column-end: 16;
}

.text-image__text-inner {
    transition: height 500ms ease, opacity 500ms ease;
    will-change: opacity, height;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.state--open .text-image__text-inner {
    height: auto;
}

.state--open .text-image__text-inner {
    opacity: 1;
}

.text-image__trigger {
    display: block;
    position: relative;
    padding: 0.3rem 0;
    transform: translate3d(0, 0.5rem, 0);
    transition: padding-top 500ms ease, padding-bottom  500ms ease;
    will-change: padding-top, padding-bottom;
}

.text-image__trigger:first-child {
    transform: translate3d(0, 0.5rem, 0);
}

.state--open .text-image__trigger{
    padding-top: 1.1rem;
}

.state--open .text-image__trigger:first-child{
    padding-bottom: 2.4rem;
}

.text-image__trigger::after {
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    background-color: #000;
}



@media screen and (min-width: 650px) {
    .text-image__image {
        grid-column-start: 1;
        grid-column-end: 11;
        margin-bottom: 0;
    }

    .state--portrait .text-image__image {
        grid-column-start: 2;
        grid-column-end: 9;
    }

    .state--portrait .text-image__text {
        grid-column-start: 9;
        grid-column-end: 16;
    }
    
    .text-image__text {
        grid-column-start: 11;
        grid-column-end: 17;
        direction: ltr;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .state--reverse {
        direction: rtl;
    }

    .state--reverse .text-image__text {
        align-items: flex-end;
    }
}

@media screen and (min-width: 1000px) {
    .text-image {
        margin-bottom: 13rem;
    }
    
    .text-image__text {
        grid-column-start: 12;
        grid-column-end: 16;
    }

    .state--portrait .text-image__text {
        grid-column-start: 10;
        grid-column-end: 14;
    }
}

/* text only */

.text-only {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: var(--grid-gap);
    margin-bottom: 7rem;
    font-size: 1.25rem;
}

.text-only.state--right {
    direction: rtl;
}

.text-only__text {
    grid-column: span 16;
    direction: ltr;
}

@media screen and (min-width: 650px) {
    .text-only__text {
        grid-column: span 8;
    }

    .text-image__image {
        grid-column-start: 1;
        grid-column-end: 11;
    }

    .state--reverse {
        direction: rtl;
    }

    .state--reverse .text-image__text {
        align-items: flex-end;
    }
}

@media screen and (min-width: 1000px) {
    .text-only {
        margin-bottom: 13rem;
        font-size: 1.625rem;
    }
}

/* double image */

.double-image {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: var(--grid-gap);
    margin-bottom: 7rem;
}

.double-image__image:first-child {
    grid-column-start: 3;
    grid-column-end: 15;
    margin-bottom: 4rem;
}

.double-image__image:last-child {
    grid-column-start: 3;
    grid-column-end: 15;
    transition-delay: 100ms;
}

.double-image__text {
    padding-top: 2rem;
}

@media screen and (min-width: 650px) {
    .double-image__image:first-child {
        grid-column-start: 1;
        grid-column-end: 9;
        margin-bottom: 0;
    }
    
    .double-image__image:last-child {
        grid-column-start: 9;
        grid-column-end: 17;
    }
}

@media screen and (min-width: 1000px) {
    .double-image {
        margin-bottom: 13rem;
    }

    .double-image__image:first-child {
        grid-column-start: 4;
        grid-column-end: 9;
    }
    
    .double-image__image:last-child {
        grid-column-start: 9;
        grid-column-end: 14;
        transition-delay: 100ms
    }
}

/* center image */
.center-image__text {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 17;
    padding-top: 2rem;
}

@media screen and (min-width: 650px) {
    .center-image__text {
        grid-column-start: 3;
        grid-column-end: 15;
    }
}

/* author styles */
.author {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: var(--grid-gap);
    margin-bottom: 7rem;
}

.author__image {
    grid-column-start: 3;
    grid-column-end: 15;
    margin-bottom: 4rem;
}

.author__text {
    grid-column-start: 1;
    grid-column-end: 19;  
    transition-delay: 100ms;
}

.author__name {
    font-size: var(--font-size-sub);
    margin-bottom: 10px;
}

.author__client {
    margin-bottom: 6rem;
}

.author__text .text-image__text {
    height: auto;
}

@media screen and (min-width: 650px) {
    .author__image {
        grid-column-start: 1;
        grid-column-end: 9;
        margin-bottom: 0;
    }
    
    .author__text {
        grid-column-start: 9;
        grid-column-end: 17;
    }
}

@media screen and (min-width: 1000px) {
    .author {
        margin-bottom: 13rem;
    }

    .author__image {
        grid-column-start: 4;
        grid-column-end: 8;
    }
    
    .author__text {
        grid-column-start: 9;
        grid-column-end: 14;
        transition-delay: 100ms
    }
}

/* Project Overview */

.project-overview {
    padding-bottom: 4rem;
    padding-top: 3rem;
    height: 0;
    overflow: hidden;
    clip-path: inset(0 0 99.99% 0);
    transition: clip-path 1ms ease 1000ms;
    will-change: clip-path;
}

.project-overview.did-appear {
    clip-path: inset(-10% -10% -10% -10%);
    height: auto;
}

.project-overview__title {
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 12vw;
    line-height: 1.1;
    opacity: 0;
    transform: translate3d(0,50px,0);
    will-change: opacity, transform;
    transition: opacity 800ms ease, transform 1000ms ease;
}

.project-overview__title svg {
    height: 17vw;
}

.project-overview__title text {
    stroke-width: .015;
}

.project-overview__title rect {
    y: 1.2;
    height: 100%;
    fill: #000;
    transition: y 1000ms ease 600ms;
    will-change: y;
}


.project-overview__title.did-appear rect {
    y: 0;
}

.project-overview__title.did-appear {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.project-overview__title.state-scrolling {
    transition: opacity 0ms ease, transform 0ms ease;
}

.project-overview__title.state-title-up {
    opacity: 0;
}

.project-overview__title.did-appear::after {
    height: 0;
    opacity: 1;
}

.project-overview__category-link {
    text-decoration: none;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 12vw;
    opacity: 0;
    transform: translate3d(0,99%,0);
    transition: opacity 1000ms ease, transform 1000ms ease;
    will-change: opacity, transform;
    z-index: 1;
}

.project-overview__category-link svg {
    height: 17vw;
}

.project-overview__category-link text {
    stroke-width: .015;
}

.project-overview__category-link rect {
    height: 100%;
    y: 1.2;
    transition: y 700ms ease;
    will-change: y;
}

.project-overview__category-link.will-appear {
    opacity: 0;
    transform: translate3d(0,99%,0);
}

.project-overview__category-link.did-appear {
    opacity: 1;
    transform: translate3d(0,10%,0);
}

.project-overview__category-link:hover {
    transition: opacity 1000ms ease, transform 400ms ease;
    color: #000;
}

.project-overview__category-link:hover rect {
    y: 0;
}

.project-overview__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    margin-bottom: 4rem;
    transform: translate3d(0,50px,0);
    transition-property: opacity, transform;
    transition-duration: 600ms;
    transition-timing-function: ease;
    will-change: opacity, transform;
}

.project-overview__item.did-appear {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.did-appear .project-overview__image picture {
    transform: translate3d(0,0,0);
}

.project-overview__link {
    width: 100%;
    text-decoration: none;
    color: #000;
}

.state--portrait.project-overview__item .project-overview__link {
    width: 80%;
}

.state--hover.project-overview__link {
    transform: translate3d(calc(var(--project-hover-x) * 1%), calc(var(--project-hover-y) * 1%), 0);
}

.project-overview__link-text {
    position: relative;
    padding: 2rem 0;
    font-size: 1.25rem;
}

.project-overview__link-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.8rem;
    height: 1px;
    width: 2rem;
    background-color: #000;
}

@media screen and (min-width: 650px) {
    .project-overview {
        display: grid;
        padding-top: 12rem;
        grid-column-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .project-overview__title {
        top: 140px;
        font-size: 12vw;
    }

    .project-overview__title svg {
        height: 12vw;
    }

    .project-overview__title text {
        stroke-width: .008;
    }

    .project-overview__item {
        margin-bottom: 7rem;
        justify-content: flex-start;
    }

    .project-overview__item:nth-child(2n) {
        justify-content: flex-end;
        transition-delay: 100ms;
    }
    
    .project-overview__item.state--top {
        align-items: flex-start;
    }
    
    .project-overview__item.state--bottom {
        align-items: flex-end;
    }

    .project-overview__category-link svg {
        height: 12vw;
    }
}

@media screen and (min-width: 1000px) {
    .project-overview {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 7rem;
    }

    .project-overview__item:nth-child(3n - 2) {
        justify-content: flex-start;
        transition-delay: 0ms;
    }

    .project-overview__item:nth-child(3n - 1) {
        justify-content: center;
        transition-delay: 100ms;
    }
    
    .project-overview__item:nth-child(3n) {
        justify-content: flex-end;
        transition-delay: 200ms;
    }

    .project-overview__link-text {
        font-size: 1.625rem;
        transform: translate3d(0,10px,0);
        transition: opacity 500ms ease, transform 500ms ease;
        will-change: opacity, transform;
    }

    .no-touch .project-overview__link-text {
        opacity: 0;
    }
    
    .project-overview__link-text::after {
        bottom: 0.4rem;
        width: 0;
        background-color: #000;
        transition: bottom 500ms ease, width 500ms ease;
        will-change: bottom, width;
    }

    .project-overview__link:hover .project-overview__link-text {
        opacity: 1;
        transform: translate3d(0,-10px,0)
    }
    
    .project-overview__link:hover .project-overview__link-text::after {
        bottom: 0.8rem;
        width: 2rem;
    }

    .project-overview__image {
        transition: transform 500ms ease;
        will-change: transform;
    }

    .project-overview__link:hover .project-overview__image {
        transform: translate3d(0, -10px, 0);
    }

    .project-overview__category-link {
        font-size: 12vw;
    }

    .project-overview__category-link.did-appear {
        opacity: 1;
        transform: translate3d(0,55%,0);
    }

    .project-overview__category-link:hover {
        transition: opacity 1000ms ease, transform 400ms ease;
        will-change: opacity, transform;
        color: #000;
        transform: translate3d(0,50%,0);
    }

    .project-overview__category-link text {
        stroke-width: .008;
    }
}



@media screen and (min-width: 1920px) {

    .project-overview__title {
        left: 40px;        
    }
}

/* Content Pages */

.content {
    padding-bottom: 7rem;
}

.content > div:last-child {
    margin-bottom: 0;
}

.content .will-appear {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    transition: transform 600ms ease 400ms, opacity 600ms ease 400ms;
    will-change: opacity, transform;
}

.content .did-appear {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.content {
    padding-top: 7rem;
    font-size: 1.25rem;
}

.content__text {
    margin-bottom: 2rem;
}

.content__text:last-child {
    margin-bottom: 7rem;
}

.content .text-only {
    margin-bottom: 7rem;
}

.rich-text a {
    position: relative;
}

.rich-text a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 1px;
    width: 0;
    background-color: #000;
    transition: width 300ms ease;
    will-change: width;
}

.rich-text a:hover::after {
    width: 2rem;
}

.rich-text strong {
    font-weight: bold;
}

.rich-text em {
    font-style: italic;
}

.project-ticker {
    line-height: 1.1;
    margin: 0 calc(var(--page-padding) * -1);
    margin-bottom: 7rem;
}

.project-ticker__title {
    font-size: 15vw;
    padding-left: var(--page-padding);
}

.project-ticker__list {
    padding-top: 10px;
    font-size: 15vw;
    color: #000;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.swiper-container-ticker {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    padding-left: 30%;
    display: block;
}

.swiper-wrapper-ticker {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide-ticker {
    width: auto;
    flex-shrink: 0;
    padding: 0 50px 0 5px;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.no-touch .state--hover .home__pagination-bullet {
    top: calc((var(--project-hover-y) * 1px) - 15px)!important;
    transition: top 1ms ease;
    will-change: top;
}

@media screen and (min-width: 650px) {

    .project-ticker__title {
        font-size: 10vw;
    }

    .content__text {
        margin-bottom: 7rem;
    }

    .content__text-accordion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--grid-gap);
    }

    .project-ticker__list {
        -webkit-text-stroke-width: 1px;
        font-size: 10vw;
    }

    .swiper-slide-ticker {
        padding: 0 750px 0 5px;
    }

    .swiper-container-ticker {
        padding-left: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .content {
        font-size: 1.625rem;
    }

    .swiper-slide-ticker {
        padding: 0 150px 0 5px;
    }
}